@model PETROKIMIA.Models.MonitoringTLViewModels.vwMonitoring
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <header class="section-header">
            <div class="tbl">
                <div class="tbl-row">
                    <div class="tbl-cell">
                        <h3>Monitoring</h3>
                        @Html.ValidationMessage("Error")
                        @*<ol class="breadcrumb breadcrumb-simple">
                                <li><a href="#">StartUI</a></li>
                                <li><a href="#">Forms</a></li>
                                <li class="active">Selects</li>
                            </ol>*@
                    </div>
                </div>
            </div>
        </header>
        <section class="card box-typical-full-height">
            <div class="card-block">
                <button type="button" class="btn btn-primary" data-toggle="modal" onclick='window.location = "@Url.Action("InputMonitoring", "MonitoringTL")";'>
                    Tambahkan Temuan
                </button>
                <table id="example" class="display table table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Objek Audit</th>
                            <th>Temuan</th>
                            <th>Rekomendasi</th>
                            <th>Tindak Lanjut</th>
                            <th>Status</th>
                            <th>Unit Kerja</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Objek Audit</th>
                            <th>Temuan</th>
                            <th>Rekomendasi</th>
                            <th>Tindak Lanjut</th>
                            <th>Status</th>
                            <th>Unit Kerja</th>
                            <th>Aksi</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model.lstMonitoring)
                        {
                            <tr>
                                <td>@item.OBJEK_AUDIT</td>
                                <td>@item.TEMUAN</td>
                                <td>@item.REKOMENDASI</td>
                                <td>@item.TINDAK_LANJUT</td>
                                <td>@item.STATUS</td>
                                <td>@item.UNIT_KERJA</td>
                                <td>@Html.Raw(item.Action)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Monitoring Data</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("MonitoringEdit", "MonitoringTL", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "editForm" }))
                {
                    <div class="form-group row">
                        @Html.LabelFor(m => m.OBJEK_AUDIT, new { @class = "col-sm-2 form-control-label" })
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Html.TextBoxFor(m => m.OBJEK_AUDIT, new { @class = "form-control", @placeholder = "Objek Audit" })
                                @*@Html.ValidationMessageFor(m => m.TEMUAN, "", new { @class = "text-danger" })*@
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.TEMUAN, new { @class = "col-sm-2 form-control-label" })
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Html.TextBoxFor(m => m.TEMUAN, new { @class = "form-control", @placeholder = "Temuan" })
                                @*@Html.ValidationMessageFor(m => m.TEMUAN, "", new { @class = "text-danger" })*@
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.REKOMEMNDASI, new { @class = "col-sm-2 form-control-label" })
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Html.TextAreaFor(m => m.REKOMEMNDASI, new { @class = "form-control", @placeholder = "Rekomendasi" })
                                @*@Html.ValidationMessageFor(m => m.REKOMEMNDASI, "", new { @class = "text-danger" })*@
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.TINDAK_LANJUT, new { @class = "col-sm-2 form-control-label" })
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Html.TextAreaFor(m => m.TINDAK_LANJUT, new { @class = "form-control", @placeholder = "Tindak Lanjut" })
                                @*@Html.ValidationMessageFor(m => m.TINDAK_LANJUT, "", new { @class = "text-danger" })*@
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.STATUS, new { @class = "col-sm-2 form-control-label" })
                        <div class="col-md-10">
                            @*@Html.TextBoxFor(m => m.OBJEK, new {  @class = "form-control" })*@


                            @Html.DropDownListFor(m => m.STATUS, Model.getJenisStatus, new { @class = "form-control" })
                            @Html.HiddenFor(m => m.STATUS)

                            @*@Html.ValidationMessageFor(m => m.STATUS, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(m => m.UNIT_KERJA, new { @class = "col-sm-2 form-control-label" })
                        <div class="col-sm-10">
                            <p class="form-control-static">
                                @Html.TextAreaFor(m => m.UNIT_KERJA, new { @class = "form-control", @placeholder = "Unit Kerja" })
                                @*@Html.ValidationMessageFor(m => m.UNIT_KERJA, "", new { @class = "text-danger" })*@
                            </p>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-inline btn-success">Ubah</button>

                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $('#example').DataTable({
                responsive: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

        function EditMonitoring(rekom) {
            $.ajax({
                type: "POST",
                url: '/MonitoringTL/EditMonitoringData',
                data: { rekom: rekom },
                dataType: 'JSON',
                success: function (e) {
                    if (e != null && e != undefined) {
                        $('#myModal').modal('show');
                        if (e.Result == "OK") {
                            $('#OBJEK_AUDIT').val(e.data.OBJEK_AUDIT);
                            $('#TEMUAN').val(e.data.TEMUAN);
                            $('#REKOMEMNDASI').val(rekom);
                            $('#TINDAK_LANJUT').val(e.data.TINDAK_LANJUT);
                            $('#STATUS').val(e.data.STATUS);
                            $('#UNIT_KERJA').val(e.data.UNIT_KERJA);
                        }
                        else {
                            $('#myModal').modal('hide');
                            alert(e.Result + " , " + e.Message);
                        }
                    }

                }
            });

        }
        $("#myModal").load(function () {
            $.validator.unobtrusive.parse($("#myForm"));
        });
        function DeleteMonitoring(rekom) {

            //debugger;
            $.ajax({
                type: 'POST',
                url: '/MonitoringTL/DeleteMonitoring',
                data: { rekom: rekom },
                dataType: 'JSON',
                success: function (e) {
                    if (e != null && e != undefined) {
                        alert(e.Result + ',' + e.Message);
                        window.location.href = "/MonitoringTL/Index";
                    }
                }
            });
        }

       

    </script>
}


